@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: whitesmoke;
}
.menu-branding{
    max-width: 1366px;
    padding: 0 80px;
    margin: auto;
  }
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: whitesmoke;
    
}
.navbar .menu-branding{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: black;
    border: 1px solid black;
    border-radius: 40px;
    padding: 8px;
    background-color: white;
}
.navbar .logo a span{
    color: red;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin-top: 13px;
}
.navbar .menu li a{
    
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 8px;
    transition: color 0.3;
    background-color: white;
}
.navbar .menu li a:hover{
    color: red;
    
    border-color: red;
}
.contact{
    position: relative;
    min-height: 90vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}
.contact .content{
    max-width: 800;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: crimson;
}
.contact .content P{
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
    border: 2px solid black;
}
.container .contactInfo .box .text{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
}
.contactForm{
    width: 40%;
    padding: 40px;
    border: 1px solid black;
    background-color: white;
}
.contactForm h2{
    font-size: 30px;
    color: black;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 25px;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    width: 150px;
    background: crimson;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer{
    display: flex;
    flex-direction: row;
    width:100% ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: whitesmoke;

}
.paragraphe{
    margin-left: 20px;
    font-weight: 400;
    font-size: 18px;
}
.links{
    width: 500;
    display: flex;
    margin-right: 20px;
    list-style-type: none;
}
.links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:15px;
    height: 50px;
    width: 50px;
    color: black;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);  
}
.links a:hover{
    border-color:crimson;
    background-color:white;
    color: crimson; 
}
@media(max-width:800px)
{
    .contact{
        padding: 50px;
        justify-content: center;
        align-items: center;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width: 100%;
    }
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }
}
